@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo{
    height: 130px;
    width: 270px;
    margin: 1vw 0;
}

.logo img{
    width: 100%;
    height: 100%;
}

.app{
    margin: 0 auto;
}

.cl-internal-1p733cp{
    background-color: #1e252e;
    font-family: Orbitron;
}

.cl-internal-1tpvhd8{
    color: #fff;
    letter-spacing: 1px;
    white-space: nowrap;
    align-self: center;
}

.cl-internal-1vbkfwh{
    color: rgb(138, 140, 151);
    letter-spacing: 1px;
    font-weight: 800;
    display: none;
}

.cl-internal-1qyb9gr{
    border: 2px solid #fff !important;
}

.cl-internal-1qyb9gr:hover{
    background: #07001f;
}

.cl-internal-2gzuzc{
    /* background-color: #fff;
    border: 0.0001px solid; */
    border-radius: 50%;
    width: 1.5rem;
}

.cl-internal-1ftpdtb{
    background-color: #fff;
}

.cl-internal-1c7fjmu{
    color: #fff;
}

.cl-internal-4x6jej{
    background: #1e252e !important;
}

.cl-internal-4x6jej{
    font-family: Orbitron;
}

.cl-internal-kyvqj0{
    color: #fff;
    /* font-family: Orbitron; */
    letter-spacing: 2px;
}

.cl-internal-1v2koqu{
    color: #c4c1c1;
}

.cl-internal-1v2koqu:hover{
    color: #fff;
}
